/*
 *sizing issue was partially caused by min wid.
 *make right cont. contents scale with the page 
 *page extends past the <body> tag somehow
 *
 * Login: putrequest; login css seemingly in pl>login.html
 */

.navbar {  /*top bar, works ^^ */
    margin-bottom: 20px;
    width: 100%;
    background-color: #649568;
    border-radius: 20px;
}

.btn { /*button, which?*/
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}

body {
    background-color: #9CCC9C;
    color: #9CCC9C;
    margin-top: 5rem;
}

/* text related styles */
h1, h2, h3, h4, h5, h6 { /*headers, cor size*/
    color: #444444;
    
}

h1{
    font-size: 3vw;
    text-align: center;
}

h2{
    margin-top: 1vw;
    text-align: center;
    font-size: 1.9vw !important ;
}

h4{
    color: white; 
    background: green; 
    font-size: 1rem;
}

p{
    font-size: 1.25vw;
    padding: 2%;
}

/* lvl 1 list */
.u-list
{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    font-size: 1.25vw;
    padding: 2%;
}

/* lvl 4 link boxes */

.container_lvlpost{
    width: 15vw;
    height: 7vw;
    padding: 1.5vw;
}


/* */

.content-section {
    background: #9CCC9C;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
}

.link-solved {
    color: green;
    font-size: 50px;
    background-color: transparent;
    text-decoration: none;
}

.link-unsolved {
    color: red;
    font-size: 50px;
    background-color: transparent;
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1900px;
    /*min-width: 1850px;*/
    display: flex;
    justify-content: flex-end;
}

.window {
    width: 50%;
    border-radius: 40px;
    box-sizing: border-box;
    padding: 0px 5px 20px 5px;
    margin: 5px 20px 20px 20px;
}

.window_left {
    width: 100%;
   /* min-width: 600px;*/
    max-width: 700px;
    padding: 5px;
    color: #FFE600;
    background-color: #649568;

}

.window_right {
    /*flex: 2;*/
    order: 5;
    width: 100%;
    /*min-width: 800px;*/
    max-width: 1400px;
    padding: 5px;
    contain: layout;
}

.btn-group-vertical {
    margin: 1em;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: center;
    contain: layout;
    align-items: unset !important;
}

.form_container {
    text-align: center;
}

.form-group {
    display: inline-block;
    width: 95%;
    height: 2.5vw;
}

.container_name_nav {
    background-color: #649568;
}

.base-container {
    height: 100vh; 
    background-color: #9CCC9C;
    color: #000000;
}

.container_lvlpost {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Change the number of columns as needed */
    grid-gap: 10px; /* Add desired gap between grid items */
    align-items: center; /* Align items vertically in the center */
    justify-items: center; /* Align items horizontally in the center */
    color: grey;
}

.img{
    object-fit: contain !important;
    width: 45vw;
    max-height: 30vw;
}


.article-title {
    color: white;
    font-size: 1.25vw;
    text-align: center;

}

.Points {
    width: 30%;
    height: 40px;
    margin-left: 40%;
    border-radius: 40px;
    background-color: #0E6B0E;
    display: flex;
    justify-content: center;
    align-items: center; 
    font-family: 'Ubuntu', sans-serif;
    font-family: 'VT323', monospace;
}

.username_nick {
    width: 50%;
    height: 25px;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #0E6B0E;
}

.username_points {
    width: 40%;
    height: 25px;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #0E6B0E;

}

.error {
    color: red;
}

.success {
    color: green;

}

.window-container {
    display: flex;
    height: 80%;
}

.navbar-walkthrough-button:hover {
    cursor: pointer;
}

.navbar-walkthrough-button {
    display: flex;
    justify-content: space-between;
    padding: 8px 20px;
    border-radius: 9px;
    background: #5B6C5D;
    width: 170px;
}

.navbar-walkthrough-img {
    height: 25px;
    width: 24px;
}

.walkthrough-container {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 85vh;
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    background-color: #fff;
    position: absolute;
    border-radius: 8px;
    padding: 8px;
    top: 77px;
    left: 16px
}

.walkthrough-container::before {
    content: "";
    position: absolute;
    top: -24px;
    left: 10%;
    margin-left: -30px;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #fff;
}

.walkthrough-container-close-button {
    font-size: 28px;
    width: 30px;
    border-radius: 20px;
    line-height: 30px;
    height: 30px;
    padding-left: 6px;
    position: sticky;
    top: 8px;
    left: 100%;
    display: flex;
    justify-content: space-between;
    background: #DDD;
}



.walkthrough-container-close-button:hover {
    cursor: pointer;
}

.level4-img-bg {
    /* padding: 8px; */
    margin-right: 40px;
    border-radius: 16px;
    width: 14.5vw;
    height: 7vw;
    background: url("/static/files/card.png") no-repeat;
    background-size: cover;
}
