/*
 * Login: putrequest
 */

 .navbar {
  margin-bottom: 20px;
}

.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

.level2 {
margin-top: 10px;
margin-bottom: 10px;
}

body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
}

.link-solved {
  color: green;
  font-size: 50px;
  background-color: transparent;
  text-decoration: none;
}

.link-unsolved {
  color: red;
  font-size: 50px;
  background-color: transparent;
  text-decoration: none;
}